.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
/*.bat
*.class
!scala/scala-impl/testdata/decompiler/**/*.class
.DS_Store
*~
target/
/zeppelin-remote.iml
