.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
/*.bat
*.class
.DS_Store
*~
gitarget/
/zeppelin-remote.iml
/project/target/
out/
target/