.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
/*.bat
*.class
.DS_Store
*~
gitarget/
*.iml
/project/target/
out/
target/
/idea/
build/
.gradle/
